* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'montserrat', sans-serif;
    
    --gradient-purple:#190361, #BB00FF;
    --color-white: #FFFFFF;
    --color-blue-100: #E4EDF1;
    --color-blue-900: #34355B;
    --color-orange: #FF9500;
}

html, body, button {
    font-family: 'montserrat', sans-serif;
}

body {
    display: grid;
    place-items: center;

    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(45deg, var(--gradient-purple));
}

main {
    box-sizing: content-box;
    max-width: 42.8rem;
    max-height: 42.4rem;

    text-align: center;

    padding: 4.8rem 6.4rem 6.4rem;

    background-color: var(--color-white);

    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);

    border-radius: 5px;
}

main h1 {
    color: var(--color-blue-900);
    font-size: 2.4rem;
    font-weight: bold;

    margin-bottom: 1.4rem;
}

main p {
    color: var(--color-blue);
}

main img {
    margin-top: 2rem;
}

.screen2 {
    max-width: 30rem;
    max-height: 46rem;
}

.screen2 .paper {
    padding: 1rem;

    background-color: var(--color-blue-100);

    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
}

.screen2 p {
    font-family: 'Patrick hand', 'montserrat', sans-serif;
    font-size: 2.4rem;
}

.screen2 button {
    color: var(--color-white);
    font-weight: bold;

    margin-top: 1.4rem;
    padding: 1.6rem;

    background-color: var(--color-orange);

    border: none;
    border-radius: 4px;
}

.hidden {
    display: none;
}
